<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-box">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-text color="primary" class="ion-text-center">
        <h2>Recuperar Contraseña</h2>
      </ion-text>

      <ion-card>
        <!-- Campo de correo electrónico -->
        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="Ingresa tu correo"
          ></ion-input>
        </ion-item>

        <ion-text
          color="danger"
          *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
        >
          <p *ngIf="form.get('email')?.hasError('required')">
            El correo es obligatorio.
          </p>
          <p *ngIf="form.get('email')?.hasError('email')">
            El correo no es válido.
          </p>
        </ion-text>

        <ion-button
          expand="block"
          mode="ios"
          type="submit"
          [disabled]="form.invalid"
        >
          Recuperar
        </ion-button>

        <ion-button class="ion-margin-top" routerLink="/login" expand="block" mode="ios">
          Volver
        </ion-button>
      </ion-card>
    </form>
  </div>
</ion-content>
