<ion-header></ion-header>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

<ion-content>
  <!-- Bienvenida -->
  <div class="welcome-text">
    <h2>Bienvenido a LoLApp</h2>
    <div class="subtitulo">
      <p>Todos los Campeones, Todos sus Secretos</p>
    </div>
  </div>

<!-- Contenedor de la imagen -->
<div class="image-container">
  <img src="assets/League_of_Legends.jpg" alt="League of Legends" />
</div>


  <div class="button-container">
    <ion-button expand="full" (click)="ingresar()">Descubrir</ion-button>
  </div>

</ion-content>
