

ion-content {
    position: relative; /* Asegúrate de que el contenedor tenga posición relativa */
    height: 100vh; /* Usa 100vh para ocupar toda la altura de la ventana */
  }

  .login-box {
    position: absolute; /* Usar posición absoluta para centrar */
    top: 50%; /* Mueve el cuadro al 50% de la altura */
    left: 50%; /* Mueve el cuadro al 50% del ancho */
    transform: translate(-50%, -50%); /* Ajusta el cuadro para centrarlo */
    padding: 20px;
    border-radius: 10px; /* Esquinas redondeadas */
    width: 90%; /* Ancho del cuadro */
    max-width: 400px; /* Ancho máximo del cuadro */
    color: white; /* Texto blanco para contraste */
    background-color: rgb(22, 22, 22);
    animation: increaseOpacity 2s forwards;
    opacity: 0.1;
  }
  ion-item{
    padding: 5px;
    margin: 5px;
  }
  ion-text{
    font-size: 30px;
  }
  #Iniciarsesion{
    margin-top: 15px;
  }
  @keyframes increaseOpacity {
    to {
      opacity: 1; /* Finaliza completamente visible */
    }
  }
