<ion-content>
  <div class="login-box">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-text color="primary" class="ion-text-center">
        <h2>Iniciar Sesión</h2>
      </ion-text>

      <ion-card>
        <!-- Campo de correo electrónico -->
        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="Ingresa tu correo">
          </ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
          <p *ngIf="form.get('email')?.hasError('required')">El correo es obligatorio.</p>
          <p *ngIf="form.get('email')?.hasError('email')">El correo no es válido.</p>
        </ion-text>

        <!-- Campo de contraseña -->
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input
            type="password"
            formControlName="password"
            placeholder="Ingresa tu contraseña">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
          <p>La contraseña es obligatoria.</p>
        </ion-text>

        <!-- Botón de inicio de sesión -->
        <ion-button expand="full" type="submit" [disabled]="form.invalid">
          <ion-spinner *ngIf="form.pending" name="dots"></ion-spinner>
          <span *ngIf="!form.pending">Iniciar Sesión</span>
        </ion-button>
      </ion-card>
    </form>

    <!-- Botón para ir a la página de registro -->
    <ion-button routerLink="/register" expand="full" fill="outline" class="ion-margin-top">
      ¿No tienes cuenta? Regístrate
    </ion-button>

    <!-- Enlace para ir a la página de recuperación de contraseña -->
    <ion-button routerLink="/forgot-password" expand="full" fill="outline" class="ion-margin-top">¿Olvidaste tu contraseña?
    </ion-button>

    <!-- Mostrar error general -->
    <ion-text color="danger" *ngIf="form.errors">
      <p>{{ form.errors['message'] }}</p>
    </ion-text>
  </div>
</ion-content>
