<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/campeones">
        <ion-icon name="trophy" slot="start"></ion-icon>
        <ion-label>Campeones</ion-label>
      </ion-item>
      <ion-item routerLink="/mi-perfil">
        <ion-icon name="person-circle" slot="start"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content -->
<ion-router-outlet id="main-content"></ion-router-outlet>
